.old/loader/backup
.old/web/.awcache
.old/loader/torrents
.old/loader/loader
.old/loader/server
.old/loader/bolt.db
.old/web/dist
.old/h2o/dist
.old/web/node_modules
.old/web/**/*.scss.d.ts
.old/keys/letsencrypt
**/*.bolt.db
.old/.env
.env
.old/tinytag/music
postgres/data
vendor
data